// Color Utility Mixin
@mixin generate-color-utilities($property, $class-prefix, $colors) {
  @each $name, $value in $colors {
    .#{$class-prefix}-#{$name} {
      #{$property}: $value !important;
    }
  }
}

// Gradient Utility Mixin
@mixin generate-gradient-utilities($property, $class-prefix, $gradients) {
  @each $name, $value in $gradients {
    .#{$class-prefix}-#{$name} {
      #{$property}: $value !important;
    }
  }
}

// Border Color Mixin
@mixin generate-border-utilities($colors) {
  @each $name, $value in $colors {
    .border-#{$name} {
      border-color: $value !important;
    }

    .border-top-#{$name} {
      border-top-color: $value !important;
    }

    .border-right-#{$name} {
      border-right-color: $value !important;
    }

    .border-bottom-#{$name} {
      border-bottom-color: $value !important;
    }

    .border-left-#{$name} {
      border-left-color: $value !important;
    }
  }
}

// Hover State Mixin
@mixin hover-state($property, $value) {
  &:hover {
    #{$property}: $value;
  }
}

// Gradient with overlay
@mixin gradient-overlay($gradient, $opacity: 0.9) {
  background: $gradient;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: $opacity;
  }
}

// Responsive breakpoint mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint =="small" {
    @media (min-width: 576px) {
      @content;
    }
  }

  @else if $breakpoint =="medium" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint =="large" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint =="xlarge" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Text color with contrast
@mixin text-contrast($bg-color) {
  @if (lightness($bg-color) > 50%) {
    color: #000;
  }

  @else {
    color: #fff;
  }
}